<% if (!Favorite.find_by(user_id: current_user.id, movie_id: movie.id).nil?) %>
  <%= link_to favorites_path(movie_id: movie.id), method: :delete, remote: true do %>
    <%= image_tag 'icon/Movie_heart_p.png', class: 'movie-index-icon' %>
  <% end %>
<% else %>
  <%= link_to favorites_path(movie_id: movie.id), method: :post, remote: true do %>
    <%= image_tag 'icon/Movie_heart_w.png', class: 'movie-index-icon' %>
  <% end %>
<% end %>
<a class="count"><%= movie.favorites.count %></a>
