<h1 class="text-center text-white">Movie List</h1>
<div class="movie-index-wrapper">
  <div class="movie-container">
    <% @movie.each do |movie| %>
      <div class="movie-index-single">
        <div class="movie-author">
          <a><%= link_to movie.title, movie_path(movie.id) %></a>
        </div>
        <% if movie.image? %>
        <%= image_tag movie.image.url, class: 'movie-image' %>
        <% end %>
        <div class="movie-count">
          <div id="favorite_buttons_<%= movie.id %>">
            <%= render partial: 'favorites/favorite', locals: {movie: movie} %>
          </div>
        </div>
        <div class="movie-count">
          <% if (movie.checks.select { current_user.id }).count > 0 %>
            <%= link_to checks_path(movie_id: movie.id), method: :delete, remote: true do %>
              <%= image_tag 'icon/Movie_check_on.png', class: 'movie-index-icon' %>
            <% end %>
          <% else %>
            <%= link_to checks_path(movie_id: movie.id), method: :post, remote: true do %>
              <%= image_tag 'icon/Movie_check_off.png', class: 'movie-index-icon' %>
            <% end %>
          <% end %>
          <a class="count"><%= movie.checks.count %></a>
        </div>
        
        <div class="movie-count">
          <% if (movie.wishes.select { current_user.id }).count > 0 %>
            <%= link_to wishes_path(movie_id: movie.id), method: :delete, remote: true do %>
              <%= image_tag 'icon/Movie_wish_on.png', class: 'movie-index-icon' %>
            <% end %>
          <% else %>
            <%= link_to wishes_path(movie_id: movie.id), method: :post, remote: true do %>
              <%= image_tag 'icon/Movie_wish_off.png', class: 'movie-index-icon' %>
            <% end %>
          <% end %>
          <a class="count"><%= movie.wishes.count %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>