<h1 class="text-center text-white">Movie List</h1>
<div class="movie-index-wrapper">
  <div class="movie-container">
    <% @movie.each do |movie| %>
      <div class="movie-index-single">
        <div class="movie-author">
          <a><%= link_to movie.title, movie_path(movie.id) %></a>
        </div>
        <% if movie.image? %>
        <%= image_tag movie.image.url, class: 'movie-image' %>
        <% end %>
        
        <div class="movie-count">
          <div id='favorite_buttons_<%= movie.id %>'>
            <%= render partial: 'favorites/favorite', locals: {movie: movie} %>
          </div>
        </div>
        
        <div class="movie-count">
          <div id='check_buttons_<%= movie.id %>'>
            <%= render partial: 'checks/check', locals: {movie: movie} %>
          </div>
        </div>
        
        <div class="movie-count">
          <div id='wish_buttons_<%= movie.id %>'>
            <%= render partial: 'wishes/wish', locals: {movie: movie} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>