<h1><%= @movie.title %></h1>
<% if @movie.image? %>
  <%= image_tag(@movie.image_url) %>
<% end %>
<div class = "post-menus">
    <%= link_to 'レビューを投稿する', new_review_path(movie_id: @movie.id) %>
    <%= link_to '編集', edit_movie_path %>
</div>

<% @reviews.each do |r| %>
  <%= r.body %>
<% end %>