<div class="movie-show-wrapper">
  <div class="movie-show-container">
    <div class="movie-show-single">
      <div class="movie-show-author">
        <a><%= @movie.title %></a>
      </div>
      <% if @movie.image? %>
      <%= image_tag @movie.image.url, class: 'movie-image' %>
      <% end %>
      <div class="movie-count">
        <div class="movie-show-count">
          <div id='favorite_buttons_<%= @movie.id %>'>
            <%= render partial: 'favorites/favorite', locals: {movie: @movie} %>
          </div>
        </div>
        <div class="movie-show-count">
          <div id='check_buttons_<%= @movie.id %>'>
            <%= render partial: 'checks/check', locals: {movie: @movie} %>
          </div>
        </div>
        
        <div class="movie-show-count">
          <div id='wish_buttons_<%= @movie.id %>'>
            <%= render partial: 'wishes/wish', locals: {movie: @movie} %>
          </div>
        </div>
      </div>
    </div>
    <div class="movie-show-body">
      <div class="movie-body-container">
        <div class="movie-body-item">
          <a>あらすじ</a>
        </div>
        <div class="text-field">
          <a><%= @movie.synopsis %></a>
        </div>
      </div>
      <div class="movie-body-container">
        <div class="movie-body-item">
          <a>制作年</a>
        </div>
        <div class="text-field">
          <a><%= @movie.year %></a>
        </div>
      </div>
      <div class="movie-body-container">
        <div class="movie-body-item">
          <a>監督</a>
        </div>
        <div class="text-field">
          <a><%= @movie.director %></a>
        </div>
      </div>
      <div class="movie-body-container">
        <div class="movie-body-item">
          <a>キャスト</a>
        </div>
        <div class="text-field">
          <a><%= @movie.cast %></a>
        </div>
      </div>
      <div class="post-menu">
        <%= link_to "Edit", edit_movie_path, class:"edit-btn-border" %>
      </div>
    </div>
  </div>
  <div class="movie-review-container">
    <div class="movie-review-title">
      <a>映画レビュー(<%= @movie.reviews.count %>)</a>
      <%= link_to 'レビュー投稿', new_review_path(movie_id: @movie.id), class:"review-btn-border" %>
    </div>
    <div class="movie-review-list">
      <% @movie.reviews.each do |r| %>
        <% if r.user.image? %>
          <%= image_tag r.user.image.url, class:"user-icon" %>
        <% else %>
          <%= image_tag "User_no_image.png", class:"user-icon" %>
        <% end %>
        <div class="review-user-name">
          <a><%= r.user.name %></a>
          <%= link_to "レビュー削除", review_path(r.id), method: :delete, class:"review-btn-border" %>
        </div>
        <div class="review-body">
          <a><%= r.body %></a>
        </div>
      <% end %>
    </div>
  </div>
</div>