<p>MyPage <%= @user.name %></p>
<% if @user.image? %>
  <%= image_tag @user.image.url %>
<% end %>
<%= link_to checks_index_path do %>
  <p>Check List</p>
<% end %>
<%= link_to favorites_index_path do %>
  <p>Favorite Movies</p>
<% end %>
  
<%= link_to '編集', edit_user_path %>
<%= link_to "削除", user_path(current_user.id), method: :delete %>